# YOUR ENV EXAMPLE

PORT=

# your frontend url (http://localhost:3000)
CLIENT_URL=
# example: prisma+postgres/localhost:5754...
DATABASE_URL=

SENTRY_URL=

# UNIQUE
SESSION_SECRET=
HASH_KEY=

# ENCODING_TYPE: hex|base64|base64url|binary
ENCODING_TYPE=

AVAILABLE_USERNAME_SYMBOLS=abcdefghijklmnopqrstuvwxyz

# json web token expiration
TOKEN_EXPIRATION=28d

# UTILITY

CACHE_TIME_TO_LIVE_IN_MILLISECONDS=300000
THROLLER_TIME_TO_LIVE_IN_MILLISECONDS=20000
THROLLER_LIMIT=20